# .NET Build Artifacts
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

# User Settings
randsettings.txt
showdown_sets.json
showdown_sets_storage.json
showdown_sets.txt
showdown_set_storage.txt

# Personal Notes
Planned Features.txt

# Python temp files
__pycache__/
*.pyc
